*~
.*~
.DS_Store
.Rhistory
.RData
.RData.rkworkplace
.gnumeric
NZ-steel-git.txt
EPA-ENQ-44224-L8R3G2 signed response-25-07-2022.pdf
NZ-Steel-provisional-allocation-2021-and-2022.txt
RE_ Request for information_ New Zealand Steel Development Limited 2021 and 2022 provisional allocation of NZUs.txt
pch.png
2020-crf-summary-data.xlsx
	Dear Mr Marantes.txt
	GHG-Inventory-2026-Summary-emissions-data.xlsx
	Industrial-Allocations-Final-Decisions-Report-Aug-2024.xlsx
	Industrial-Allocations-Final-Decisions.xlsx
	Luxon.txt
	NZ-Steel-Media-Release_Electric-Arc-Furnace_21-May-web.pdf
	NZsteel-Allocation-GHGs-line-2010-2020-560by420-v3a.png
	NZsteel-Allocation-GHGs-line-2010-2020-600by600-v3a.png
	NZsteel-Allocation-Value-2010-2020-560by420-v1.png
	NZsteel-units-marketvalue-565by420.png
	NZsteel-units-marketvalue-600by450.png
	NZsteel-units-marketvalue-600by600.png
	NZsteel-units-marketvalue-720by720.png
	NZsteelunits-2010-2020.csv
	Supplementary-Spreadsheet-2020-to-2024.xlsx
	Time-series-emissions-data-in-AR4-1990-to-2022-from-NZGHGI-2024.xlsx
	TimeseriesemissionsdatainAR41990to2022fromNZGHGI2024.xlsx
	steel-lm.r
